.login-section {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 13rem;
  padding: 2rem;
}

.login-section {
  color: var(--light-teal-color);
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.login-form-container {
  /* outline: 2px solid red; */
  width: 30rem;
  padding: 10px;
  height: 15rem;
}

div.invalid input {
  outline: 3px solid var(--dark-fire-brick);
}

div.invalid select {
  outline: 3px solid var(--dark-fire-brick);
}

/* 
div.valid input {
  outline: 3px solid var(--yellow-green);
} */
