.overlay-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 90%;
    background-color: var(--base-grey);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}