.footer {
  background-color: var(--base-light-blue);
  outline: 3px solid var(--dark-slate-grey);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: auto;
  min-height: 70px;
  padding: 10px 1rem;
}

.logo-container {
  outline: 2px solid var(--base-white);
  background-color: var(--base-light-blue);
  width: 17rem;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  font-weight: bold;
  font-style: italic;
}

.qty-detail-container {
  text-align: center;
  /* outline: 1px solid red; */
  width: 15rem;
}

.qty-detail-container p {
  outline: 1px solid var(--base-white);
  background-color: var(--category-import);
  padding: 5px 0;
  border-radius: 5px;
}
